@use './variables/color';
@use './variables/spacing';
@use './variables/radius';
@use './variables/width';
@use './variables/container';
@use './mixins/theme-light' as *;
@use './mixins/theme-dark' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

body {
    font-family: Inter, sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    transition: background 0.2s ease, color 0.2s ease;
}

html.theme-light {
    @include theme-light;
}

html.theme-dark {
    @include theme-dark;
}
