:root {
    --color-border-primary-light: var(--color-gray-light-300);
    --color-border-primary-dark: var(--color-gray-dark-700);

    --color-border-secondary-light: var(--color-gray-light-200);
    --color-border-secondary-dark: var(--color-gray-dark-800);

    --color-border-tertiary-light: var(--color-gray-light-100);
    --color-border-tertiary-dark: var(--color-gray-dark-800);

    --color-border-disabled-light: var(--color-gray-light-300);
    --color-border-disabled-dark: var(--color-gray-dark-700);

    --color-border-disabled-subtle-light: var(--color-gray-light-200);
    --color-border-disabled-subtle-dark: var(--color-gray-dark-800);

    --color-border-brand-light: var(--color-brand-300);
    --color-border-brand-dark: var(--color-brand-400);

    --color-border-brand-solid-light: var(--color-brand-600);
    --color-border-brand-solid-dark: var(--color-brand-500);

    --color-border-brand-solid-alt-light: var(--color-brand-600);
    --color-border-brand-solid-alt-dark: var(--color-brand-700);

    --color-border-error-light: var(--color-error-300);
    --color-border-error-dark: var(--color-error-400);

    --color-border-error-solid-light: var(--color-error-600);
    --color-border-error-solid-dark: var(--color-error-500);

    --color-border-cool-light: var(--color-gray-cool-light);
    --color-border-cool-dark: var(--color-gray-cool-dark);

    --color-border-pink-200-light: var(--color-pink-200);
    --color-border-pink-200-dark: var(--color-pink-800);

    --color-border-pink-600-light: var(--color-pink-600);
    --color-border-pink-600-dark: var(--color-pink-400);

    --color-border-gray-blue-light: var(--color-gray-blue-200);
    --color-border-gray-blue-dark: var(--color-gray-blue-800);

    --color-border-blue-light-light: var(--color-blue-light-200);
    --color-border-blue-light-dark: var(--color-blue-light-800);

    --color-border-blue-light: var(--color-blue-200);
    --color-border-blue-dark: var(--color-blue-800);

    --color-border-indigo-light: var(--color-indigo-200);
    --color-border-indigo-dark: var(--color-indigo-800);

    --color-border-purple-light: var(--color-purple-200);
    --color-border-purple-dark: var(--color-purple-800);

    --color-border-surface-light: var(--color-gray-cool-light);
    --color-border-surface-dark: var(--color-gray-dark-800);
}
