:root {
    --color-text-primary-light: var(--color-gray-light-900);
    --color-text-primary-dark: var(--color-gray-dark-50);

    --color-text-primary-brand-light: var(--color-white);
    --color-text-primary-brand-dark: var(--color-gray-dark-50);

    --color-text-secondary-light: var(--color-gray-light-700);
    --color-text-secondary-dark: var(--color-gray-dark-300);

    --color-text-secondary-hover-light: var(--color-gray-light-800);
    --color-text-secondary-hover-dark: var(--color-gray-dark-200);

    --color-text-secondary-brand-light: var(--color-brand-200);
    --color-text-secondary-brand-dark: var(--color-gray-dark-300);

    --color-text-tertiary-light: var(--color-gray-light-600);
    --color-text-tertiary-dark: var(--color-gray-dark-400);

    --color-text-tertiary-hover-light: var(--color-gray-light-700);
    --color-text-tertiary-hover-dark: var(--color-gray-dark-300);

    --color-text-tertiary-brand-light: var(--color-brand-200);
    --color-text-tertiary-brand-dark: var(--color-gray-dark-400);

    --color-text-quaternary-light: var(--color-gray-light-500);
    --color-text-quaternary-dark: var(--color-gray-dark-400);

    --color-text-quaternary-brand-light: var(--color-brand-300);
    --color-text-quaternary-brand-dark: var(--color-gray-dark-400);

    --color-text-white-light: var(--color-white);
    --color-text-white-dark: var(--color-white);

    --color-text-disabled-light: var(--color-gray-light-500);
    --color-text-disabled-dark: var(--color-gray-dark-500);

    --color-text-placeholder-light: var(--color-gray-blue-400);
    --color-text-placeholder-dark: var(--color-gray-blue-300);

    --color-text-placeholder-subtle-light: var(--color-gray-blue-300);
    --color-text-placeholder-subtle-dark: var(--color-gray-blue-400);

    --color-text-brand-primary-light: var(--color-brand-900);
    --color-text-brand-primary-dark: var(--color-brand-400);

    --color-text-brand-secondary-light: var(--color-brand-700);
    --color-text-brand-secondary-dark: var(--color-gray-dark-300);

    --color-text-brand-tertiary-light: var(--color-brand-600);
    --color-text-brand-tertiary-dark: var(--color-gray-dark-400);

    --color-text-brand-tertiary-alt-light: var(--color-brand-600);
    --color-text-brand-tertiary-alt-dark: var(--color-gray-dark-50);

    --color-text-error-primary-light: var(--color-error-600);
    --color-text-error-primary-dark: var(--color-error-400);

    --color-text-warning-primary-light: var(--color-warning-600);
    --color-text-warning-primary-dark: var(--color-warning-400);

    --color-text-success-primary-light: var(--color-success-600);
    --color-text-success-primary-dark: var(--color-success-400);

    --color-text-pink-light: var(--color-pink-700);
    --color-text-pink-dark: var(--color-pink-300);

    --color-text-gray-blue-light: var(--color-gray-blue-700);
    --color-text-gray-blue-dark: var(--color-gray-blue-300);

    --color-text-blue-light-light: var(--color-blue-light-700);
    --color-text-blue-light-dark: var(--color-blue-light-300);

    --color-text-blue-light: var(--color-blue-700);
    --color-text-blue-dark: var(--color-blue-300);

    --color-text-indigo-light: var(--color-indigo-700);
    --color-text-indigo-dark: var(--color-indigo-300);

    --color-text-purple-light: var(--color-purple-700);
    --color-text-purple-dark: var(--color-purple-300);
}
